@tailwind base;
@tailwind components;
@tailwind utilities;

.neon-blue-text {
  color: #00f;
  text-shadow: 0 0 5px #00f, 0 0 10px #00f, 0 0 20px #00f, 0 0 40px #00f;
}

.neon-blue-bg {
  background-color: #00f;
  box-shadow: 0 0 5px #00f, 0 0 10px #00f, 0 0 20px #00f, 0 0 40px #00f;
}

*,
html {
  scroll-behavior: smooth !important;
}
